*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%;/*16px * 62.5=10px=1rem*/
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;

}
:root{
  --white-color:#ffffff;
  --header-color:#203040;
  --orange-color:#ff8000;
  --gray-color:#c0c0c0;
  --light-gray-color:#808080;
  --aside-gray:#f0f0f0;
  --card-color:#f8f8f8;
  --black-color:#000000;
  --button-border-color:#404040;
  --button-orange-color:#f0c040;

}

.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
.header{
  grid-area: header;
}
.main{
  grid-area: main;

}
.footer {
  grid-area: footer;
}
