.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart__list{
  flex: 3 1 60rem;
}

.cart__action{
  flex:1 1 20rem;
  background-color: var(--card-color);
  /* border: .1rem var(--light-gray-color) solid; */
  border-radius: .5rem;
  padding: 1rem;
}
.cart__list__container{
  padding: 1;
  list-style-type: none;

}

.cart__list__container>li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;


}
.cart__list__container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 1rem;
  border-bottom: .1rem var(--gray-color) solid;
}

.cart__list__container li img{
  max-width: 10rem;
  max-height: 10rem;

}
.cart__image{
  flex:1 1;
}

.cart__price{
  flex:1 1;
  font-size: 2.5rem;
  text-align: right;
}

.cart__name{
  flex:8 1;
}
