.checkout__steps{
  display: flex;
  justify-content: space-between;
   width: 40rem;
   margin: 1rem auto;
}

.checkout__steps>div{
  border-top:.3rem var(--gray-color) solid;
  color:var(--gray-color);
  flex:1 1;
  padding-top: 1rem;
}

.checkout__steps>div.active{
  border-top:.3rem var(--shipping-color) solid;
  color:var(--shipping-color);
}
