.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product_image{
  max-width: 34rem;
  max-height: 34rem;
}

.product_name{
  font-size: 2rem;
  font-weight: bold;

}
.product_name>a{
  text-decoration: none;
}
.product_name>a:hover{
  color: var(--orange-color);
}

.poduct_brand{
  font-size: 1.2rem;
  color:var(--light-gray-color);
}

.product_price{
  font-size: 2.5rem;
  font-weight: bold;
}
.product_rating{
  margin-bottom: 1rem;
}
