.signin__form{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.signin__form__container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem var(--gray-color) solid;
  border-radius: .5rem;
  list-style-type: none;
}
.signin__form__container>li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.signin__form__container>li>input{
  padding: 1rem;
  border:.1rem var(--gray-color) solid;
  border-radius: .5rem;
}
.secondary{
  background-color: var(--aside-gray);
  text-align: center;
}

.signin__nav{
  padding-left: 1rem;
  padding-right: 1rem;
}
